* {
  font-family: sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: #d6eaf8;
}
span {
  color: green;
  font-size: 20px;
  margin: 10px;
}
thead {
  font-family: sans-serif;
  color: rgb(255, 6, 47);
}
li {
  margin: 10px;
  list-style: none;
  border: 1px dashed black;
  padding-left: 5px;
}
li:hover {
  color: red;

  cursor: pointer;
}
input {
  margin: 3px;
}
input:hover {
  border-color: red;
}
td {
  font-family: sans-serif;
  padding: 5px;
  border: 2px solid green;
}
.active {
  color: blue;
}

td:hover {
  color: red;

  cursor: pointer;
}
td:active {
  color: orange;
}
#container {
  display: flex;
}
.left {
  margin: 30px;
}
.right {
  margin-top: 30px;
}

button {
  text-decoration: none;
  display: inline-block;
  color: white;
  //padding: 20px 30px;
  //margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
button:hover {
  background-position: right center;
}

button {
  margin: 2px;
}